@import "tailwindcss";

@theme {
  /* Primárias e Escuras */
  --color-coffee-primaria: #50322a;
  --color-coffee-deep-sombras: #2A170D;

  /* Acentos */
  --color-amber-acento: #C68A4C;
  --color-amber-soft-secundario: #E2B47A;

  /* Fundos */
  --color-paper-fundo-principal: #F8F4EF;
  --color-sand-fundo-secundario: #fefefef0;
  --color-cream-fundo-alternativo: #EFE4D2;

  /* Texto e Elementos */
  --color-ink-texto: #1B120B;
  --color-line-bordas: #E2D3BB;
}